---
title: Getting Started Deploying Ruby on Rails Apps
---

<%=vars.GSG_intro_sentence%>

This guide walks you through deploying a Ruby on Rails (RoR) app to <%=vars.product_full%>. To deploy a sample RoR app, refer to the [Deploy a Sample Ruby on Rails App](./sample-ror.html) topic.

<p class="note"><strong>Note</strong>: Ensure that your RoR app runs locally before continuing with this procedure.</p>

#### <a id='prerequisites'></a>Prerequisites ####

* A Rails 4.x app that runs locally
* [Bundler](http://bundler.io) configured on your workstation
* Intermediate to advanced RoR knowledge
* The [cf Command Line Interface (CLI)](../../devguide/installcf/install-go-cli.html)

<ol class="list-steps">
	<li>
		<h2 class="steps-header"><a id="service-instance"></a>Create and Bind a Service Instance for a RoR Application</h2>

		This section describes using the CLI to configure a PostgreSQL managed service instance for an app. For more information on creating and using service instances, refer to the <a href="./../../devguide/services/index.html">Services Overview</a> topic.

		<h3>Create a Service Instance</h3>

		Run <code>cf marketplace</code> to view managed and user-provided services and plans available to you.

		Run <code>cf create-service [SERVICE] [PLAN] [SERVICE_INSTANCE]</code> to create a service instance for your app. Choose a SERVICE and PLAN from the list, and provide a unique name for the SERVICE_INSTANCE.

		<h3>Bind a Service Instance</h3>

		When you bind an app to a service instance, <%=vars.product_short%> writes information about the service instance to the VCAP_SERVICES app environment variable. The app can use this information to integrate with the service instance.

		Most services support bindable service instances. Refer to your service provider's documentation to confirm whether they support this functionality.

		To bind a service to an application, run <code>cf bind-service APPLICATION SERVICE_INSTANCE</code>.
	</li>
	<li>
		<h2 class="steps-header"><a id="deployment-options"></a>Configure Deployment Options</h2>

		<h3>Configure the Deployment Manifest</h3>

		You can specify app deployment options in a manifest that the `cf push` command uses. For more information about application manifests and supported attributes, refer to the <a href="./../../devguide/deploy-apps/manifest.html">Deploying with Application Manifests</a> topic.

		<h3>Configure a Production Server</h3>

		<%=vars.product_short%> uses the default standard Ruby web server library, WEBrick, for Ruby and RoR apps. However, <%=vars.product_short%> can support a more robust production web server, such as Phusion Passenger, Puma, Thin, or Unicorn. If your app requires a more robust web server, refer to the <a href="./ruby-prod-server.html">Configure a Production Server</a> topic for help configuring a server other than WEBrick.
	</li>
	<li>
		<h2 class="steps-header"><a id="login"></a>Log in and Target the API Endpoint</h2>

		Run <code>cf login -a [API_ENDPOINT]</code>, enter your login credentials, and select a space and org. The API endpoint is <%=vars.api_endpoint%>.

		  <%=vars.gen_GSG%>
	</li>
	<li>
		<h2 class="steps-header"><a id="deploy"></a>Deploy Your App</h2>

		From the root directory of your application, run <code>cf push [APP-NAME] --random-route</code> to deploy your application.

		<code>cf push [APP-NAME]</code> creates a URL route to your application in the form HOST.DOMAIN, where HOST is your [APP-NAME] and DOMAIN is specified by your administrator. Your DOMAIN is<code><%=vars.app_domain%></code>. For example: <code>cf push my-app</code> creates the URL <code>my-app.<%=vars.app_domain%></code>.

		The URL for your app must be unique from other apps that <%=vars.product_short%> hosts or the push will fail. Use the following options to help create a unique URL:

		<ul>
			<li><code>-n</code> to assign a different HOST name for the app.</li>
			<li><code>--random-route</code> to create a URL that includes the app name and random words.</li>
			<li><code>cf help push</code> to view other options for this command.</li>
		</ul>

		To view log activity while the app deploys, launch a new terminal window and run <code>cf logs [APP-NAME]</code>.

		In the terminal output of the <code>cf push</code> command, the <code>urls</code> field of the <code>App started</code> block contains the app URL. This is the <code>HOST_NAME</code> you specified with the <code>-n</code> flag plus the domain <code><%=vars.app_domain%></code>. Once your app deploys, use this URL to access the app online.
	</li>
</ol>
##<a id="next"></a>Next Steps ##

You’ve deployed an app to <%=vars.product_short%>! Consult the sections below for information about what to do next.

### Test a Deployed App ###

Use the `cf` <%=vars.dev_console_2%> to review information and administer your app and your <%=vars.product_short%> account. For example, you could edit the `manifest.yml` to increase the number of app instances from 1 to 3, and redeploy the app with a new app name and host name.

### Manage Your Application with the cf CLI ###

Run `cf help` to view a complete list of commands, grouped by task categories, and run `cf help [COMMAND]` for detailed information about a specific command. For more information about using the `cf` CLI, refer to the cf Command Line Interface (CLI) topics, especially the <%=vars.cli_v6%> topic.

### Troubleshooting ###
If your application fails to start, verify that the application starts in your local environment. Refer to the [Troubleshooting Application Deployment and Health](./../../devguide/deploy-apps/troubleshoot-app-health.html) topic to learn more about troubleshooting.
